body {
  background-image: url("../img/background.png");
}

.jumbotron.transparent {
  background-color: rgba(255, 255, 255, 0);
}

.page-header {
  padding: 0 20px 0 20px;
  text-align: center;
}

/**
 * Styling to center the GIF
 */
.gfyitem {
  width: 100%;
}

.gfyitem > div {
  display: block;
  margin: 0 auto 0 auto;
}
