<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <!-- top navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
         </div>
       </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav">
            <li><a id="reddit-comment" href="#">View Reddit Thread</a></li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
      </div>

      <div class="container">
        <div class="page-header">
          <h2> Title goes over here </h2>
        </div>
        <div class="jumbotron transparent">
          <div class="container contentWrapper">
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
   (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
      s.parentNode.insertBefore(g, s);
  }(document, 'script'));
  </script>
  <script type="text/javascript" src="lib/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</html>
